.video-container {
    position: relative;
    align-items: center;
    height: 0px;
    width: 100%;   
    padding-bottom: 56.25%;

  
    }

    .video {
        position: absolute;
        top: 0px;
        left: 200px;
        width: 80%;
        height: 80%;
        margin: 10px;
       
   
     }