.my-button{
    padding: 10px 20px;
    background-color: #080808;
    color: rgb(245, 248, 239);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font: bold;
    margin-left: 10px;
    width: 150px;
  }